:host {
  display: block;
  min-height: 100vh;
  background-image: url('/assets/images/vidaLuna_Bg.jpg');
  background-size: contain;
  background-position: left;
  background-repeat: repeat;
}

:host::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}
