.drawer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
  backdrop-filter: blur(2px);
}

.drawer-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  background-color: #383832;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  overflow-y: auto;
}

.drawer-panel.open {
  transform: translateX(0);
}

.drawer-panel nav ul {
  list-style: none;
  padding: 2rem;
  margin: 0;
}

.drawer-panel nav li {
  margin-bottom: 1.5rem;
}

.drawer-panel nav a {
  text-decoration: none;
  color: #fafafa;
  font-size: 1.2rem;
  transition: color 0.2s;
}

.drawer-panel nav a:hover {
  color: #a0a393; /* or your brand color */
}

.menu-toggle {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /*border: 1px red solid;*/
}

.x-logo {
  z-index: 10000;
  position: absolute;
  padding: 0;
  top: 0;
  left: -1rem;
  object-fit: contain;
  transition: opacity 0.3s ease;
  filter: brightness(0) invert(1);
  clip-path: inset(10px 10px 10px 40px);
  width: 100%;
  height: 100%;
}
