.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  /*backdrop-filter: blur(5px);*/
}

.nameLogo {
  width: 6rem;
  height: auto;
  cursor: pointer;
  filter: invert(1);
}

.x-logo {
  z-index: 10000;
  position: absolute;
  padding: 0;
  top: 0;
  left: -1rem;
  object-fit: contain;
  transition: opacity 0.3s ease;
  filter: brightness(0);
  clip-path: inset(10px 10px 10px 40px);
  width: 100%;
  height: 100%;
}

.eye-logo {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  object-fit: contain;
  transition: opacity 0.3s ease;
  filter: brightness(0) invert(1);
  width: 100%;
  height: 100%;
}

a:visited {
  color: white;
}

.menu-toggle {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu-icon.hidden {
  opacity: 0;
  pointer-events: none;
}
